*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-title{
    background-image: url('https://img.freepik.com/free-vector/messages-light-colour-background_78370-2586.jpg?semt=ais_hybrid&w=740&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0;
}

.bg-mail-list-section{
    background-image: url('https://www.groovypost.com/wp-content/uploads/2023/05/email-background-featured.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    height: calc(100vh - 112px);
}

h1{
    color:rgb(38, 155, 234);
    text-shadow: 3px -1px 2px rgba(0, 0, 0, 0.607);
}

.emails-list-container{
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.607);
}

a{
    text-decoration: none;
}

.btn-new-list{
    box-shadow: 2px 3px 9px 3px rgba(0, 0, 0, 0.607);
}